* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

#nav {
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 99;
}

#nav-part1 {
    width: 35px;
}

#nav-part1 .line {
    height: 2px;
    background-color: #434B34;
    width: 100%;
    margin-bottom: 4px;
}

#nav svg {
    fill: #434B34;
    z-index: 9;
    position: absolute;
    transform: translateY(20%) scale(0.25);
}
#nav-part2 button {
    padding: 7px 15px;
    font-weight: 500;
    margin-right: 10px;
    border: 1px solid #434B34;
    background-color: transparent;
    color: #434B34;
    border-radius: 50px;
    font-size: 16px;
}

#nav-part2 button:nth-last-child(1) {
    background-color: #5B6647;
    color: white;
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}


#page1 img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: 50% 40%;
}

#page2 {
    min-height: 180vh;
    width: 100%;
    background-color: #5B6647;
    position: relative;
}

#page2 #svg1 {
    width: 100%;
    object-fit: cover;
    position: absolute;

}

#page2 #text-container {
    position: relative;
    padding-top: 12vw;
    z-index: 99;
}

#text-container h2 {
    text-align: center;
    font-size: 5.5vw;
    line-height: 6vw;
    /* color: #E3E3C4; */
    color: #434B34;
    font-family: PP woodland;
    font-weight: 100;
}

#text-container h2 span {
    font-family: PP woodland;
}
#page2 #svg2 {
    width: 300vw;
    fill: #5B6647;
    position: absolute;
    bottom: -5%;
    z-index: 9;
}

#page2 #svg3 {
    fill: #E3E3C4;
    position: absolute;
    bottom: -5%;
    left: -60vw;
    width: 300vw;
    z-index: 8;
}

#page3 {
    min-height: 385vh;
    width: 100%;
    background-color: #F7F7EE;
    padding-top: 30vh;
    position: relative;
}

#page3-heading h1 {
    text-align: center;
    font-size: 5.5vw;
    line-height: 7vw;
    color: #E3E3C4;
    font-family: PP woodland;
    font-weight: 100;
}

#page3-heading h1 span {
    font-family: PP woodland;
}

#page3-container {
    width: 100%;
    display: flex;
    gap: 70px;
    padding: 10vw 5vw;
}

#page3-left h3 {
    font-family: "DM Sans";
    color: #2E3323;
    font-weight: 100;
    font-size: 16px;
}

#page3-left h2 {
    margin-top: 40px;
    margin-bottom: 80px;
    color: #5b6647;
    font-family: "DM Sans";
    font-weight: 500;
}

#page3-left h2 i {
    font-size: 20px;
    margin-left: 12px;
    background-color: #5B6647;
    color: #F7F7EE;
    padding: 2px 15px;
    border-radius: 20px;
}

#page3-left img {
    width: 38vw;
    border-radius: 20px;
    object-fit: cover;
}

#page3-right #img1 {
    width: 45vw;
    border-radius: 20px;
    object-fit: cover;
}

#page3-right #img2 {
    width: 23vw;
    height: 23vw;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 15px;
}

#page3-rooms {
    width: 100%;
    padding: 0vw 4vw;
}

#page3 .elem {
    height: 170px;
    width: 100%;
    border: 1px solid #d1d1b4;
    /* background-color: red; */
    border-top: none;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    overflow: hidden;
}

#page3 .elem:nth-child(1) {
    border-top: 1px solid #d1d1b4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#page3 .elem:nth-last-child(1) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.elem-part1 {
    height: 100%;
    width: 22%;

    position: absolute;
    transition: all ease-out 0.4s;
    left: 0;
    transform: translateX(-100%);
}

.elem-part1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem-part2 {
    height: 100%;
    width: 100%;
    transition: all ease-out 0.4s;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #434B34;
    padding: 2.6vw 4vw;
}

.elex-1 h3 {
    margin-bottom: 1vw;
    font-family: pp woodland;
    font-size: 2.9vw;
    font-weight: 100;
}

.elex-1 p {
    font-size: 1.2vw;
    font-family: "DM Sans";
}

.elex-2 h5 {
    background-color: #5B6647;
    color: #E3E3C4;
    padding: 4px 18px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.9vw;
    transition: all ease-out 0.4s;
    position: relative;
    overflow: hidden;
}

.elex-2 h5 i {
    position: absolute;
    background-color: #E3E3C4;
    color: #5B6647;
    padding: 5px 18px;
    left: 0;
    opacity: 0;
    top: 0;
}

.elem:hover .elem-part2 {
    width: 78%;
    background-color: #5B6647;
    color: #E3E3C4;
}

.elem:hover .elem-part1 {
    transform: translateX(0);
}

.elem:hover .elex-2 h5 {
    background-color: #E3E3C4;
    color: #5B6647;
}

.elem:hover .elex-2 h5 i {
    opacity: 1;
}

#page4 {
    height: 120vh;
    width: 100%;
    background-color: #F7F7EE;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 60px;
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transform: scale(0.6) translateX(-350px) translateY(145px);
  }

  .swiper-slide {
    width: 75%;
  }
  .swiper-slide:nth-child(4n) {
    width: 20%;
  }
  .swiper-button-next{
    background-color: #5B6647;
    height: 22px;
    color: #fff;
    font-size: 17px;
    padding: 15px 27px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    right: 5%;
  }
  .swiper-button-next::after{
    content: "";
  }
  .swiper-button-prev{
    background-color: #5B6647;
    height: 22px;
    color: #fff;
    font-size: 17px;
    padding: 15px 27px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 82%;
  }
  .swiper-button-prev::after{
    content: "";
  }
  .swiper-slide-active img{
    scale: 1;
    transform: scale(1) translateX(0);
  }
  .swiper-pagination{
    font-size: 13px;
    font-weight: 500;
    font-family: "DM Sans";
    color: #434B34;
    height: 5%;
    width: 5%;
    top: 7.5%;
    left: 86%;
  }
  #page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #03364F;
    color: #E3E3C4;
  }
  #svg4{
    width: 320vw;
    fill: #E3E3C4;
    rotate: 180deg;
    transform: translateX(150px);
    position: absolute;
    top: -4%;
    z-index: 1;
  }
  #svg5{
    width: 320vw;
    fill: #03364F;
    rotate: 180deg;
    transform: translateX(160px);
    position: absolute;
    top: -4%;
    z-index: 2;
  }
  #page5-part1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-top: 30px;
  }
  #page5-part1 h1{
    font-family: PP woodland;
    font-size: 5vw;
    font-weight: 100;
    line-height: 6vw;
  }
  #page5-part1 p{
    font-family: "DM Sans";
    text-align: center;
    color: #fff;
  }
  #page5-part2{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
  }
  #page5-part2 h1{
    font-family: PP woodland;
    font-weight: 100;
    font-size: 3vw;
    line-height: 3vw;
    margin: 1vw 0;
  }
  #page5-part2 p{
    font-family: "DM Sans";
    color: #fff;
    font-size: 1.2vw;
  }
  #page5-part2 #right{
    display: flex;
  }
  #page5-part2 #second{
    margin: 12vw 3vw;
  }
  #page5 img{
    height: 180px;
    width: 280px;
    border-radius: 30px;
    object-fit: cover;
  }
  #svg6{
      width: 320vw;
      fill: #03364F;
      position: absolute;
    bottom: -4%;
    z-index: 8;
    transform: translateX(-150px);
}
  #svg7{
    width: 320vw;
    fill: #E3E3C4;
    position: absolute;
    bottom: -5%;
    transform: translateX(-150px);
    z-index: 7;
}
#page6{
  min-height: 100vh;
  width: 100%;
  background-color: #F7F7EE;
  position: relative;
  padding: 10vw 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page6-left{
    height: 100vh;
    border-radius: 20px;
    width: 100vw;
    background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/230/ALH_Odisej_outsidepool_01-scaled-600x0.jpg);
    background-size: cover;
    background-position: center;
    transform: translateX(30%);
}
#page6-center{
    height: 100%;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    padding: 5vw 8vw;
}
#page6-center h1{
    font-family: pp woodland;
    font-size: 5.5vw;
    line-height: 5vw;
    color: #5b6647;
    font-weight: 100;
    margin-bottom: 4vw;
}
#page6-center p{
    font-size: 1.2vw;
    line-height: 1.5vw;
    color: #636f4d;
    font-weight: 500;
    margin-bottom: 4vw;
}
#page6-center h3{
    font-size: 1.8vw;
    color: #636f4d;
    font-family: "DM Sans";
    font-weight: 450;
}
#page6-center h3 i{
    font-size: 18px;
    color: #E3E3C4;
    background-color: #636f4d;
    padding: 5px 16px;
    border-radius: 20px;
    margin-left: 14px;
}
#page6-right{
    height: 100vh;
    border-radius: 20px;
    width: 100vw;
    background-image: url(https://hotelodisej.com/wp-content/uploads/bf-advanced-images/388/alh-img-2-600x0.jpeg);
    background-size: cover;
    background-position: center;
    transform: translateX(-30%);
}

#footer{
    height: 110vh;
    width: 100%;
    background-color: #03364F;
    position: relative;
}
#footer #svg8{
    object-fit: cover;
    object-position: center;
    position: absolute; 
}
#footer #svg9{
    fill: #E3E3C4;
    scale: .25;
    position: absolute;
    top: -19%;
    z-index: 2;
}
#footer #line1 img{
    position: absolute;
    z-index: 2;
    top: 5%;
    right: 3%;
    height: 4vw;
}
#footer #line2{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.477);
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 17vw 1vw 1vw;
}
#footer h3{
    font-family: "DM Sans";
    color: white;
    font-weight: 450;   
}
#footer #line3{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.477);
    margin: 2vw 3vw;
    margin-top: 10vw;
    padding: 1vw;
}
#footer #line4{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    gap: 27vw;
    margin: 0vw 3vw;
}
#footer #line5{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2vw 3vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
#footer #line5 h5{
    color: rgb(189, 185, 185);
    font-weight: 500;
    font-family: "DM Sans";
}